<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juwelierbehrendt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ExternalLibs.StartApplication"
        android:allowBackup="true"
        android:icon="@drawable/juwbehr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/juwbehr"
        android:supportsRtl="true"
        android:theme="@style/Theme.JuwelierBehrendt">
        <activity android:name=".Logic.AddString"></activity>
        <activity android:name=".Logic.ProductDisplay" />
        <activity android:name=".Logic.EditProduct" />
        <activity android:name=".Logic.Catalog" />
        <activity android:name=".Auth.Login" />
        <activity android:name=".Auth.Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Logic.Options">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>